{
    "presets": [
    ["env",{
        "targets": {
            "node": "current"
           }
    }
    ]
    ],
    "plugins": [
        [
            "babel-plugin-dotenv", {
                "replacedModuleName": "babel-dotenv",
                "allowUndefined": true
            }
        ],
        [
            "dotenv-import",
            {
              "moduleName": "@env",
              "path": ".env",
              "blacklist": null,
              "whitelist": null,
              "safe": false,
              "allowUndefined": true
            }
        ]
    ]
}
